#
# File: main.py
# Date: 7/3/2022
# Desc: Update line 7 with your student Id, update line 11 with the exercise you are working on.
#

from Assignments.stu0.assignments import *


def main():
    ex1()  # <== The exercise you are currently working on.


if __name__ == '__main__':
    main()
